# Ex1 - Getting and Knowing your Data


### Step 1: Initialize PySpark Session

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
# Create a Spark session
spark = SparkSession.builder.appName("Day1").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/08/29 15:56:47 WARN Utils: Your hostname, SUSHAN resolves to a loopback address: 127.0.1.1; using 172.31.47.41 instead (on interface eth0)
23/08/29 15:56:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/29 15:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2: Load the Dataset

In [3]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = 'chipotle.csv' # Replace with the actual path
df = spark.read.csv(data_path, header=True, inferSchema=True)

### Step 3. Get an overview of the DataFrame:

In [4]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

In [5]:
# Method 1: Using show(5) to show top 5 data
df.show(5)

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

23/08/29 15:56:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/sushan/Spark-Class/Day1/chipotle.csv

In [6]:
# Method 2: Using select with show() to show the data
df.select('*').show(3)
print("_*_"*9)
print(" ")

# Showing specific columns from dataframe using select
df.select('order_id', 'item_name', 'item_price').show(3)

23/08/29 15:57:00 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/sushan/Spark-Class/Day1/chipotle.csv

+---+--------+--------+--------------------+------------------+----------+
|_c0|order_id|quantity|           item_name|choice_description|item_price|
+---+--------+--------+--------------------+------------------+----------+
|  0|       1|       1|Chips and Fresh T...|              null|    $2.39 |
|  1|       1|       1|                Izze|      [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|           [Apple]|    $3.39 |
+---+--------+--------+--------------------+------------------+----------+
only showing top 3 rows

_*__*__*__*__*__*__*__*__*_

+--------+--------------------+----------+
|order_id|           item_name|item_price|
+--------+--------------------+----------+
|       1|Chips and Fresh T...|    $2.39 |
|       1|                Izze|    $3.39 |
|       1|    Nantucket Nectar|    $3.39 |
+--------+--------------------+----------+
only showing top 3 rows

In [7]:
# creating table to perform sql queries on spark dataframe
df.registerTempTable('chipotle_table')

/home/sushan/spark-3.4.1-bin-hadoop3/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [8]:
# Using SQL queries on created table
spark.sql("SELECT * FROM chipotle_table ORDER BY item_price DESC LIMIT 9").show()

23/08/29 15:57:01 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/sushan/Spark-Class/Day1/chipotle.csv

+----+--------+--------+-------------------+--------------------+----------+
| _c0|order_id|quantity|          item_name|  choice_description|item_price|
+----+--------+--------+-------------------+--------------------+----------+
| 607|     250|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|    $9.39 |
|3115|    1243|       1|Carnitas Salad Bowl|[Tomatillo Green ...|    $9.39 |
|1418|     576|       1|Barbacoa Salad Bowl|[Roasted Chili Co...|    $9.39 |
|1421|     576|       1|Barbacoa Salad Bowl|[Roasted Chili Co...|    $9.39 |
|1825|     738|       1|Barbacoa Salad Bowl|[Fresh Tomato Sal...|    $9.39 |
|1865|     756|       1|Carnitas Salad Bowl|[Fresh Tomato Sal...|    $9.39 |
|2600|    1032|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|    $9.39 |
|2624|    1042|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|    $9.39 |
|3098|    1235|       1|   Steak Salad Bowl|[Roasted Chili Co...|    $9.39 |
+----+--------+--------+-------------------+--------------------+----------+

### Step 4.Calculate basic statistics:

In [9]:
df.describe().show()

23/08/29 15:57:13 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/08/29 15:57:13 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/sushan/Spark-Class/Day1/chipotle.csv

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

In [10]:
df.summary().show()

23/08/29 15:57:22 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/sushan/Spark-Class/Day1/chipotle.csv

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    25%|              1155|              477|                 1|             null|                null|      null|
|    50%|              2310|              926|                 1|             null|                null|      null|
|    75%|              3466|             1393|                 1|             null|                null|      null|
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

### Step 5. What is the number of observations in the dataset?

In [11]:
print("The number of observations in dataframe is:", df.count())

The number of observations in dataframe is: 4622

### Step 6. What is the number of columns in the dataset?

In [12]:
print("The number of columns in dataframe is:", len(df.columns))

The number of columns in dataframe is: 6

### Step 7. Print the name of all the columns.

In [13]:
print("The name of columns in the spark df : ")
df.columns

The name of columns in the spark df :

['_c0',
 'order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price']